<div id="add-btn-container">
  <%= button_to "Add Task", new_task_path, method: :get, class: "task-btn mb-3" %>
</div>
<content>
  <h1>Tasks</h1>
  <div id="tasks" class="table-responsive-md">
    <% if @tasks.length > 0 %>
      <table class="table table-striped sortable">
        <thead>
          <th></th>
          <th>Task Name</th>
          <th>Deadline</th>
          <th></th>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <%= render task %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-warning">
        No tasks have been added yet
      </div>
    <% end %>
  </div>
</content>
