/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require _bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

:root {
    --font-family: "Open Sans", "Gill Sans", sans-serif;
    --white-color: #ffffff;
    --green-color: #a9c23f;
    --secondary-green-color: #c1ea12;
    --brown-color: #30281b;
    --secondary-brown-color: #402c0e;
    --default-spacing:25px;
    --body-font-size:20px;
}

a:visited, a:link, a:hover, a:active {
    color:inherit;
}

body {
    font-family: var(--font-family);
    color: var(--brown-color);
    background:linear-gradient(45deg, var(--brown-color), var(--secondary-brown-color));
    padding:var(--default-spacing);
    font-size:var(--body-font-size);
}

content, #add-btn-container {
    width:calc(100vw - (2 * var(--default-spacing)));
    max-width:1080px;
    margin:0 auto;
}

.task-btn {
    border-radius:25px;
    padding:25px;
    background:linear-gradient(45deg, var(--green-color), var(--secondary-green-color));
    color:var(--brown-color);
    font-weight:bold;
    border:none;
}

@media screen and (max-width:450px){
    :root {
        --body-font-size:25px;
    }
}
