content {
    border-radius:25px;
    padding:var(--default-spacing);
    background:var(--white-color);
    display:block;
}

.task-row {
    cursor:pointer;
}

.inline-form {
    display:inline;
}

.invisible-btn {
    background:none;
    border:none;
}
